// compileCompressed: ../../../build/assets/css/main.css﻿
/*------Tools-------*/
@import 'tools/normalize'
@import 'tools/bourbon/bourbon'
@import 'tools/fontawesome/font-awesome'

/*------Config-------*/
@import 'config/fonts'
@import 'config/vars'

/*-----Modules-----*/
@import 'modules/header'

body
  margin: 0
  background-color: $secondaryColor
  overflow-x: hidden

section
  color: $textColor
  font-family: Open Sans
  padding: 20px 0

  .container
    width: 80%
    margin: 0 auto

    .title
      text-align: center

      h1
        display: inline-block
        padding: 3px 10px
        margin: 5px
        border-bottom: 2px $textColor solid

    p
      padding: 0
      padding-top: 10px
      margin: 0

section:nth-child(odd)
  background-color: $oddsection

section:nth-child(even)
  background-color: $evensection

footer
  width: 100%
  border-top: 1px $secondaryColor solid
  font-family: fira Sans
  color: $textColor
  padding: 20px 0
  background-color: $primaryColor
  bottom: 0

  .container
    width: 80%
    margin: 0 auto
    @include display(flex)

    .column
      @include flex(1 1 33%)
      padding: 10px

      h3
        padding: 0
        margin: 0
        border-bottom: 2px $textColor solid
        margin-bottom: 5px

      p
        padding: 0
        margin: 0

  @media (max-width: 600px)
    .container
      @include flex-wrap(wrap)

      .column
        @include flex(1 1 100%)
