header
  font-family: 'Fira Sans'
  width: 100%
  height: 50px
  background-color: $secondaryColor
  padding: 0
  margin: 0
  border-bottom: 1px $primaryColor solid
  @include display(flex)
  @include justify-content(space-between)

  .header
    color: $primaryColor
    font-weight: 700
    letter-spacing: 2px
    font-size: 18px
    padding: 14.5px 20px
    text-align: center
    box-sizing: border-box
    @include display(flex)
    @include align-items(center)

    span
      display: block
      @include flex-basis(100%)

  a
    color: $primaryColor
    text-decoration: none
    display: none


  nav
    @include display(flex)
    @include transition(all 0.3s ease-in)

    ul
      margin: 0
      padding: 0
      list-style-type: none
      @include display(flex)

      li
        @include flex(1)
        @include display(flex)

        a
          color: $primaryColor
          font-size: 14px
          text-decoration: none
          padding: 15px 20px
          display: inline-block
          text-align: center
          @include transition(all 0.3s)
          @include flex-basis(100%)
          @include display(flex)
          @include align-items(center)
          &:hover, &:focus
            //background-color: rgba(0, 0, 0, 0.2)
            //color: $secondaryColor
            background-color: $primaryColor
            color: $secondaryColor



@media (max-width: 600px)
  header
    @include flex-wrap(wrap)

    nav
      max-height: 0
      overflow: hidden
      @include flex-basis(100%)

      ul
        //margin-top: 1px
        @include flex-wrap(wrap)
        @include flex-basis(100%)

        li
          @include flex-basis(100%)
    a
      padding: 15px 20px
      @include display(flex)
      @include align-items(center)

      &:hover
        color: $accentColor

      &:focus + nav
        max-height: 500px
