//output:../build/index.html
<!DOCTYPE html>
html(lang="en")
head
  title JadeSass
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  header
    .header 
      span Testing
    
    .handle
      a(href="#"): i.fa.fa-bars.fa-lg
    
    nav
      ul
        li: a(href="#"): span Home
        li: a(href="#"): span Test
        li: a(href="#"): span Test2
        li: a(href="#"): span Test2
  .body
  footer
  script(src="./assets/js/jquery-2.2.4.min.js")
  script(src="./assets/js/functions.js")
