//output:../build/index.html
<!DOCTYPE html>
html(lang="en")
head
  title JadeSass
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .container
    header
      nav
        .logo Testing
        ul
          li: a(href="#") Home
          li: a(href="#") Test
          li: a(href="#") Test2
    .body
    footer
  script(src="./assets/js/jquery-2.2.4.min.js")
  script(src="./assets/js/functions.js")
